

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 46px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #6d6c56;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #50513d;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    border: 0;
    font-size: 14px;
}

.form .message a {
    color: #4356d2;
}


body {
    background: #c2c5c0;
    background: linear-gradient(90deg, rgb(159, 161, 157) 0%, rgb(121, 122, 120) 50%);
}