.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

body {
    background: #c2c5c0;
    background: linear-gradient(90deg, rgb(159, 161, 157) 0%, rgb(121, 122, 120) 50%);
}

*:focus {
    outline: none;
}

.box {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: auto auto 50px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.box h1 {
    color: darkblue;
}

.box h2 {
    color: lightskyblue;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 18px;
}

.box h5 {
    color: lightskyblue;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 18px;
}

.input,
p {
    border: 0;
    border-bottom: 1px solid #7cd688;
    outline: none;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 0;
    color: blue;
    background: lightgray;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
}